<form method="POST" action="/cryptids">
  <label for="cryptidType">Image URL</label>
  <input id="cryptidType" type="url" name="img_url">

  <label for="CryptidName">Name</label>
  <input id="CryptidName" type="text" name="name">

  <input type="submit">
</form>
