<!-- action = what route this form will go to when submitted -->


<form action="/dinosaurs" method="POST">

    <label for="dinoName">Name</label>
    <input type="text" name="name">

    <label for="dinoType">Type</label>
    <input type="text" name="name">

    <input type="submit" value="Submit">
</form>